::-webkit-scrollbar {
  width: 5px;
  height:5px;
  background: #efefef;
}

::-webkit-scrollbar-track {
  background: #efefef; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1e90ff; 
}
::-webkit-scrollbar-thumb:hover {
  background: #1c86ea; 
}
body{
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
#getext, #getextspan, #getextt{
-moz-user-select: text;
-khtml-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
user-select: text;
}
li{
-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
.copyholder{
font-size: 17px;
}
#getext{
font-size: 17px;	
}
body{
width: 100%;
height: 100%;
background: #fefefe;
font-size: 20px;
-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
button{
font-size: 18px;
}
.left-bar{
position: absolute;
width: 300px;
color :black;
height:100%;
display:flex;
justify-content:center;
border-right:1.2pt solid #121212;
background: #f9f9f9;
transition: 1s;
}

.left-bar ul{
list-style: none;
}

.nav-links{
margin-top: 28px;
}

.vBocx{
font-size: 30px;
font-family: 'Pacifico', cursive;
border-bottom:1.2pt solid black;
padding-bottom:10px;
width:115px;
margin-bottom: 60px;
    
}
.vBocx span{
font-family: 'Pacifico', cursive;
-webkit-text-stroke: 1.5px #1e90ff;	
color: white;
}

.home, .examples, .documentation, .gettingStarted{
font-size: 20px;
margin-bottom: 30px;
cursor: pointer;
}

.home::after, .examples::after, .documentation::after, .gettingStarted::after{
content: "";
width:0%;
height:2px;
background: #1e90ff;
display:block;
transition: 0.6s;
}

.home:hover::after{
width:40%;
transition: 0.6s;
}
.documentation:hover::after{
width:100%;
transition: 0.6s;
}
.examples:hover::after{
width:62%;
}
.gettingStarted:hover::after{
width:97%;
}
.download-link{
width:100%;
text-decoration: none;
cursor: pointer;
}

.nav-links li .gtgs{
text-decoration: none;
color:#212121;
}

.social-icons{
position: absolute;
width:100%;
height:50px;
bottom: 0;
background: black;
display:flex;
align-items: center;
justify-content: center;
padding-top:5px;
}

.social-icons .fa{
font-size:20px;
color:white;
cursor: pointer;
transition: 0.4s;
}

.social-icons a span{
font-size:18px;
padding-left: 18px;
}

.social-icons .fa:hover{
font-size:20px;
color:#47a6ff;
cursor: pointer;
transition: 0.4s;
}

.right-bar{
margin-left:305px;
color :black;
background: #fbfbfb;
display:block;
align-items:center;
overflow: auto;
height: 100vh;
}
.holder{
margin-top: 37px;
text-align:left;
padding-left: 70px;
padding-right: 70px;
}

.maincontent .name{
font-weight: 600;
}

#getext{
width:auto;
padding-left: 5px;
background: #fbfbfb;
resize: none;
display:inline-block;
text-align: left;
border-left:2pt solid #1e90ff;
margin-bottom: 15px;
}

.bottom{
position: absolute;
color:#ababab;
padding-left: 70px;
padding-right: 70px;
bottom:5px;
transition: 0.5s;	
}

.getcdn{
cursor: pointer;
}

.hdr-white{
display:none;
}

.bold{
font-weight: 600;
}

.small{
font-size: 20px;
}

.include{
font-size: 23px;
font-weight: 900;
}

.vBocxjs{
font-family: 'Pacifico', cursive;
font-weight: normal;
}

.illustratecdn{
background: #efefef;
padding-top: 10px;
padding:10px;
border-radius: 4px;
height:300px;
overflow: auto;
}
.blue{
color: #187fe0;
}

.getextt{
background: #efefef;
padding-top: 10px;
padding:10px;
border-radius: 4px;
overflow: auto;
}

#getext{
position: absolute;
width: 0px;
opacity: 0;
}

.exampleheading{
display: inline-flex;
}

#copyholder{
display: inline-flex;
}

#copy{
margin-left: 20px;
}
.illustratecdn1{
background: #efefef;
padding-top: 10px;
padding:10px;
border-radius: 4px;
height:50px;
overflow: auto;
}
@media screen and (min-width : 320px) and (max-width : 800px){
body{
overflow-x: hidden;
width: 100%;
height: 100%;
}

.hdr-white{
display:flex;
border-bottom: 1pt solid black;
}
.brand{
font-size: 25px;
padding-left: 30px;
font-family: 600;
    
}

.left-bar{
left:-100%;
}

.right-bar{
overflow-x: hidden;
margin-left: 0px;
}

.holder{
padding:30px;
}

.toogle .fa{
position: absolute;
top: 25%;
font-size:25px;
right:30px;
transition: 0.7s;
}

.vBocx{
display: none;
}

.nav-links{
margin-top: 80px;
margin-left: -38px;
cursor: pointer;
}


.nav-links li{
font-size: 20px;
}


.download-link{
margin-top:20px;	
}

.brand{
font-size: 25px;
font-family: 'Pacifico', cursive;
width:150px;
    
}
.brand span{
font-family: 'Pacifico', cursive;
-webkit-text-stroke: 1.5px #1e90ff;	
color: white;
}

#getext{
position: absolute;
width: 5px;
opacity: 0;
}
#getextt{
background: #efefef;
padding-top: 10px;
padding:10px;
border-radius: 4px;
overflow: auto;
}
button{
font-size: 18px;
}
.holder{
padding-top: 70px;
}
::-webkit-scrollbar {
  width: 2px;
  height:2px;
  background: #efefef;
}

::-webkit-scrollbar-track {
  background: #efefef; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #1e90ff; 
}

::-webkit-scrollbar-thumb:hover {
  background: #1c86ea; 
}
}
























